<div class="background">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <body>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="navbar-collapse collapse justify-content-between">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">LOGO</a>
                    </li>
                    <!--->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>---->
                </ul>
                
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#" routerLink="/events">Events</a>
                    <a class="nav-item nav-link" href="#" routerLink="/achievements">Achievements</a>
                    <a [routerLink]="['/']" routerLinkActive="router-link-active"> <button (click)="Logout()">Logout</button></a>
                


                </div>
               
            </div>
            <div class="wrap">
                <div class="search">
                   <input type="text" class="searchTerm" placeholder="What are you looking for?">
                   <button type="submit" class="searchButton">
                     <i class="fa fa-search"></i>
                  </button>
                </div>
             </div>

        </nav>
        <div class="dp"> <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Profile Picture" id="myImg">

        </div>
    </body>
</div>
