<!DOCTYPE html>

<head>
    <title>Athena - Home</title>
</head>

<body>
    <h1>Hello, world....This is index page</h1>
    <a href="/login"><button>Login</button></a>
    <a href="/register"><button>Register</button></a>
</body>