<h1>
    Signup Form
</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="text" placeholder="User Type" name="userType">
    <input type="submit">
</form>

<a href="/logout">LOG OUT</a>