<div class="background">

    <nav class="navbar navbar-expand-sm navbar-light" style="background-color:white">
        <div class="navbar-collapse collapse justify-content-between">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">LOGO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#" routerLink="/commonsignup">Sign up</a>
                <a class="nav-item nav-link" href="#" routerLink="/dashboard">Login</a>
                <a class="nav-item nav-link" href="#" routerLink="/dashboard">Go to Dashboard</a>

            </div>

        </div>
    </nav>

    <br>
    <br>
    <br>
    <br>


    <div class="container textalign">
        <div class="jumbotron">
            <h1>ATHENA</h1>
            <p>ATHENA is an online repository of your achievements and associated events!! </p>
        </div>
    </div>


    
